target/META-INF/mule-src/hedios-experiences-apis/src/main/mule/implementations/common/manageVars.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="manageVarsFlow" doc:id="b83e715e-10a2-4b38-91ab-767eb9b80a67" >
		<set-variable value='#[(if((attributes.queryParams.offset != null) and (attributes.queryParams.offset != "")) attributes.queryParams.offset else 0) as Number]' doc:name="offset" doc:id="f0463f47-d70a-450d-8ce1-d815474de0fa" variableName="offset" />
		<set-variable value='#[(if((attributes.queryParams.limit != null) and (attributes.queryParams.limit != "")) attributes.queryParams.limit else 10) as Number]' doc:name="limit" doc:id="10092ec0-9411-4aab-bcfc-898ad127640f" variableName="limit" />
		<set-variable value='#[(if((attributes.queryParams.idfc != null) and (attributes.queryParams.idfc != "")) attributes.queryParams.idfc else 0) as Number]' doc:name="idfc" doc:id="30cd4073-61dd-4f5b-8f57-7310b518656a" variableName="idfc" />
	</flow>
</mule>
